<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ .Track.Title }} — {{ .Track.Artist }}</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{{template "header.html" .}}

<div class="container">
  <div class="back-btn">
    <a href="/tracks">&larr; Все треки</a>
  </div>

  <h1>{{ .Track.Title }}</h1>
  <p class="artist">{{ .Track.Artist }}</p>

  <div class="player">
    <audio id="audio" preload="metadata">
      <source src="/tracks/{{ .Track.ID.Hex }}/play" type="audio/mpeg">
      Ваш браузер не поддерживает аудио.
    </audio>

    <button id="playPauseBtn" title="Play/Pause">▶️</button>

    <span id="currentTime">0:00</span>

    <input type="range" id="progressBar" value="0" min="0" step="1">

    <span id="duration">0:00</span>

    <input type="range" id="volume" min="0" max="1" step="0.01" value="1" title="Громкость">
  </div>
</div>

<script>
  const audio = document.getElementById('audio');
  const btn = document.getElementById('playPauseBtn');
  const bar = document.getElementById('progressBar');
  const cur = document.getElementById('currentTime');
  const dur = document.getElementById('duration');
  const vol = document.getElementById('volume');

  function fmt(time) {
    const m = Math.floor(time/60);
    const s = Math.floor(time%60).toString().padStart(2,'0');
    return `${m}:${s}`;
  }

  audio.addEventListener('loadedmetadata', () => {
    const durSeconds = audio.duration;

    if (isFinite(durSeconds) && durSeconds > 0) {
      bar.max = Math.floor(durSeconds);
      dur.textContent = fmt(durSeconds);
    } else {
      const checkReady = setInterval(() => {
        if (isFinite(audio.duration) && audio.duration > 0) {
          clearInterval(checkReady);
          bar.max = Math.floor(audio.duration);
          dur.textContent = fmt(audio.duration);
        }
      }, 500); // каждые полсекунды проверяем
    }
  });


  audio.addEventListener('timeupdate', () => {
    if (!isNaN(audio.currentTime) && bar.max > 0) {
      bar.value = Math.floor(audio.currentTime);
      cur.textContent = fmt(audio.currentTime);
    }
  });

  bar.addEventListener('input', () => {
    audio.currentTime = bar.value;
  });

  btn.addEventListener('click', () => {
    if (audio.paused) {
      audio.play();
      btn.textContent = '⏸️';
    } else {
      audio.pause();
      btn.textContent = '▶️';
    }
  });

  vol.addEventListener('input', () => {
    audio.volume = vol.value;
  });
</script>
</body>
</html>
